/*
=============== 
Variables
===============
*/
@font-face {
  font-family: 'Whitney Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Medium'), url('./fonts/whitneymedium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Whitney Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Medium Italic'), url('./fonts/whitneymediumitalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Whitney Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Bold'), url('./fonts/whitneybold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Whitney Semibold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Semibold Regular'), url('./fonts/whitneysemibold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Whitney Book Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Book Regular'), url('./fonts/whitneybook.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Whitney Light';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Light Regular'), url('./fonts/whitneylight.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Whitney Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Semibold Italic'), url('./fonts/WhitneySemiboldItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Whitney Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Book Italic'), url('./fonts/whitneybookitalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Whitney Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Light Italic'), url('./fonts/whitneylightitalic.woff') format('woff');
  }
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: #006fba;
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #00aeef;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --app-bg-light: #151c32;
  /*     */
  --baseColor: #3d7eff;
  --iconFill: var(--baseColor);
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
  --loginBorderRadus: 0.25rem;
  --loginInputBackgroundColor: #01081f;;
  --loginInputHoverBackgroundColor: #1d2231;
  --loginLabelBackgroundColor: #01081f;;
  --loginSubmitBackgroundColor: #3d7eff;
  --loginSubmitHoverBackgroundColor: #0b48c3;
  --loginSubmitColor : var(--clr-white);
  --formFieldMargin: 0.875rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Whitney Medium';
}
body {
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: 'Whitney Medium';
}
body::-webkit-scrollbar{
  width: 0.5rem;
}
body::-webkit-scrollbar-track{
  background: #151c32;
}
body::-webkit-scrollbar-thumb{
  background: var(--clr-primary-5);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  body .admin-container .app-main::-webkit-scrollbar{
    width: 0.5rem;
  }
  body .admin-container  .app-main::-webkit-scrollbar-track{
    background: #01081f !important;
  }
  body .admin-container  .app-main::-webkit-scrollbar-thumb{
    background: var(--baseColor);
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 97vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  z-index: 1;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  transition: 0.5s;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
  transition: var(--transition);
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
  box-shadow: 0 15px 13px rgb(0 0 0 / 10%) !important;
}
.nav-header #aa{
  height: 40px;
  display:flex;
  align-items: center;
}
@media screen and (min-width: 680px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
    align-items: center;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
    font-size: 1.2rem;
  }
  .social-icons .iconLogin{
    color: var(--dark-shadow);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}
.btn{
  padding: 0.35rem 0.75rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: var(--clr-primary-5);
  color: #fff;
  font-size: 1rem;
}
.app-login{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--app-bg-light);
  padding: 24px;
  background: radial-gradient(circle, rgba(5,19,64,1) 1%, rgba(4,15,50,1) 100%);
}
.app-login .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.app-login .icon {
  block-size: 1em;
  display: inline-block;
  fill: #606468;
  inline-size: 1em;
  vertical-align: middle;
}
input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}
footer{
  padding: 1.5rem;
  position:static;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #151c32;
  color: whitesmoke;
}
.footDev p{ color: whitesmoke;margin: 0;}
.footline{
  height: 2px;
  width: 90%;
  background-color: #00aeef;
  margin: 1.5rem auto;
  max-width: 1170px;
}
.contact_frm{
  width: 90%;
  max-width: 1170px;
  margin: auto;
  display: flex;
}
.contact_left{width: 50%;}
.contact_left input[type=text],.contact_left input[type=email],.contact_left textarea{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 90%;
  color: #222;
  font-size: 1rem;
}
.btn_send{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 60%;
  background-color: #00aeef;
  color: #fff;
  max-width: 200px;
  cursor: pointer;
}
.btn_send:hover{
  color: #000;
}
.btn_valid{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 60%;
    background-color: #00ef55;
    color: var(--clr-black);
    max-width: 200px;
}
.btn_sending{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 60%;
  background-color: #b3bec2;
  max-width: 200px;
}
.contact_right{
  float: right;
  width: 50%;
}
.contact_right iframe{
  margin: .5rem 0;
  border:0;
  border-radius: .5rem;
  width: 90%;
  height: 70%;
}
.contact_right svg{
  width: 50px;
}
.contact_right table{
  display: grid;
  justify-content: center;
  gap: 7px;
  margin: 7px 0;
}
footer h2{
  color: #00aeef;
}
.nav{
  position: fixed;
    width: 100%;
    top: 0;
}
h2{
  font-family: 'Whitney bold';
  letter-spacing: 0;
  text-align: center;
}
.align {
  display: grid;
  place-items: center;
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-block-size: 100vh;
  background: radial-gradient(circle, #051340 1%, #040f32 100%);
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: var(--iconFill);
  inline-size: 1em;
  vertical-align: middle;
}

.form {
  margin: calc(var(--formFieldMargin) * -1);
}

.form_field {
  display: flex;
  margin: var(--formFieldMargin);
}

.login_field {
  flex: 1;inline-size: 100%;
  border-radius: var(--loginBorderRadus);
  padding: 1rem;
}

.form label{
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-radius: var(--loginBorderRadus);
  padding: 1rem;padding-inline: 1.25rem;
}

.login_input {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login_input:focus,.login_input:hover{
  background-color: var(--loginInputHoverBackgroundColor);
}

.login_btn {
  background-color: var(--loginSubmitBackgroundColor);
  color: var(--loginSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
}
.login_btn:hover{
  background-color: var(--loginSubmitHoverBackgroundColor);
  cursor: pointer;
}
.login_btn:active{
  background-color: #06225a;
  transition: 0.1s;
  padding: 0.5rem;
}
.about p{
  margin: 2rem auto;
  width: 90%;
  max-width: 1170px;
  font-size: 24px;
  font-family: 'Whitney light';
  color: var(--loginInputBackgroundColor);
}
.about_images{
  display: flex;
  margin: 3rem 0;
}
.about_image_flex{
  width: 640px;
  flex-shrink: 0;
}
.about_img{
  padding: 0 20px;
}
.about_image{
  border-radius: 16px;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.about_image img {
  width: 100%;
  height: auto;
}
@media screen and (max-width:680px) {
  .contact_frm{
    display: block;
  }
  .contact_left{
    width: 100%;
  }
  .contact_right{
    width: 100%;
    float: unset;
    margin-top: 2rem;
  }
  .about_img{padding: 0 10px;}
  .about_image_flex{width: 90%;}
  .about p{
    font-size: 1.25rem;
  }
  .about .section .prev ,.about .section .next{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    top: 28vw;
  }
  .section-center{
    height: 55vw !important;
  }
  .header-books{
    display: unset !important;
    width: 100%;
    justify-content: center;
    text-align: left;
    max-width: 1170px;
    margin: auto;
  }
  .header-books .book{
    min-width: 90%;
    margin: 1rem;
  }
  .secondHeader input {
    margin-top: 1rem !important;
  }
  .external-book .book{
    display: block !important;
  }
  .external-book .book .pre-media{
    display: unset !important;
  }
  .external-book .book .pre-media h4{
    margin-left: 0;
  }
  .external-book .book .pre-media h2{
    margin: 0 !important;
  }
  .external-book .book .media, .external-book .book .line{
    display: none !important;
  }
  .external-book .book .pic img{
    margin: 1rem 0;
    width: 66%;
    height: unset;
    max-height: unset;
  }
  .external-book .book .book-info{margin-bottom: 35px;}
  .external-book .book-info .price {bottom: -22px;
    right: 0px;}
}
.container-s9lP1h {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.innerContainer-1iHqZI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.arrowLeftBackground-1D-Ukt, .arrowRightBackground-1Q_oX8 {
  width: 60px;
  height: 60px;
  background-color: rgb(35 39 42 / 54%);
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  margin: 40px;
  display: flex; 
  align-items: center;
}
.innerContainer-1iHqZI svg{
  font-size: 30px;
  color: #fff;
}

.about_container{
  position: relative;
  overflow: hidden;
}
#About,#Contact{
  height: 72px;
}

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  height: 426px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden; 
}
.person-img {
  border-radius: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    height: 100%;
  object-fit: cover;
  box-shadow: var(--dark-shadow);
}
article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}
.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}
.about .prev,
.about .next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-1);
  color: var(--clr-white);
  width: 4rem;
    height: 4rem;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}
.about .prev:hover,
.about .next:hover {
  background: var(--clr-primary-5);
}
.about .prev {
  left: 0;
}
.about .next {
  right: 0;
}
.about article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; 
  transition: var(--transition);
}
.about article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.about article.lastSlide {
  transform: translateX(-100%);
}
.about article.nextSlide {
  transform: translateX(100%);
} 
.search {
  padding: 2rem 0;
  width: 90vw;
  max-width: 300px;
  margin: 0 auto;
}
.search-form {
  display: flex;
}
.form-input {
  width: 100%;
}
.form-input,
.submit-btn {
  padding: 0.25rem 1rem;
  border: none;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  font-size: 1rem;
  background: transparent;
  color: var(--clr-primary-5);
  border-bottom: 3px solid var(--clr-primary-5);
}
.form-input {
  color: var(--clr-primary-5);
}
.form-input::placeholder {
  color: var(--clr-primary-5);
}
.books {
  padding: 1rem 0;
}
.books-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.loading {
  text-align: center;
  padding: 3rem;
}

@media screen and (min-width: 576px) {
  .books-center {
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
  }
  .search-form {
    max-width: var(--fixed-width);
  }
}
@media screen and (max-width:580px) {
  .admin-book-table th:last-child, .admin-book-table td:last-child{min-width: unset !important;}
  .admin-book-table tbody td:nth-child(5) {
      min-width: unset;
  }
  .admin-book-table th, .admin-book-table td{
    padding: 1rem .5rem !important;
  }
  .admin-frm-btn input{
    width: 27% !important;
  }
}
@media screen and (max-width:388px) {
  .contact-pics{
    height: 140px !important;
  }
  .contact-pics img{
    height: 120px !important;
  }
  .contact-pics>div{
    height: 130px !important;
  }
  .admin-book *{
    font-size: .8rem;
  }
  .admin-book-table{
    transform: scale(.7);
  }
  .admin-book-table *{
    font-size:.9rem;
  }
  
}
.book{ 
  height: 100%;
    padding: 0.75rem;
    position: relative;
    display: flex;
    grid-template-columns: minmax(0, 1.7fr) minmax(0, 2fr);
    background-color: #fff;
    grid-template-rows: auto auto 1fr auto;
    border-radius: 0.5rem;
}
.book-cover{
  display: flex;
    align-items: center;
    justify-content: center;
}
.book-img{
  display: flex;
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
  transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}
.book-img img{
  background-color: #fff4;
    border-radius: 3px;
    object-fit: contain;
    width: 140px;
}
.secondHeader .bookname{
  color: var(--clr-white);  
}
.secondHeader .author{
  color: var(--clr-grey-4);
}
.bookname{
  color: var(--clr-black);
  font-size: 1.2rem;
  margin-top: 0;
  text-transform: none;
}
.author{
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}
.price{
    bottom: 15px;
    right: 5px;
    font-size: 1.10rem;
    position: absolute;
}
.secondHeader .price{
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  bottom: 10px;
  right: 0;
}
.secondHeader .book-info p{
  color: var(--clr-white);
}
.book-info p{
  margin: 0.75rem;
}
.admin-container *{
  font-family: "Poppins", sans-serif;
}
.admin-container{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, rgba(5,19,64,1) 1%, rgba(4,15,50,1) 100%);
}
.admin-container .app-container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.admin-container .app-left{
  position: relative;
  flex-basis: 240px;
    background-color: #01081f;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 24px;
    transition: all 0.4s ease-in;
}
.admin-container .app-left div:last-child{
  bottom:0;
  position:absolute;
  width:100%;
  height:'40px';
  background:#3d7eff;
  cursor:pointer;
}
.admin-container .close-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--clr-white);
  cursor: pointer;
}
.admin-container .app-logo {
  align-items: center;
  text-align: center;
  padding: 0 24px;
}
.admin-container .nav-list {
  margin-top: 40px;
}
.nav-list-item {
  cursor: pointer;
  margin-bottom: 12px;
}
.nav-list-link {
  font-weight: 300;
  line-height: 24px;
  padding: 8px 24px;
  color: #5e6a81;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-list-link svg {
  margin-right: 12px;
  font-size: 1.5rem;
}
.nav-list-item:not(.active):hover {
  background-color: #0c1635;
}
.nav-list-item.active svg {
  color: #3d7eff  !important;
}
.nav-list-item.active .nav-list-link {
  color: #fff;
}
.admin-container .nav-list-link p{
  margin-bottom: 0 !important;
}
.admin-container .nav-list-item:last-child{
  background: var(--baseColor);
  color: var(--clr-white);
  bottom: 0;
    width: 100%;
    position: absolute;
    margin: 0;
    display: flex;
    height: 3.25rem;
}
.admin-container .nav-list-item:last-child p{
  color: var(--clr-white);
}
.nav-list-item.active .nav-list-link:after {
  height: 100%;
  opacity: 1;
}
.nav-list-link:after {
  content: "";
  height: 100%;
  width: 2px;
  background-color: #3d7eff;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 2px;
  opacity: 0;
  height: 0;
}

.search-form>input{
  text-transform:  unset;
}
.secondHeader{
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 0;
  text-align: center;
  overflow: hidden;
}
.secondHeader .book{
  background-color: var(--clr-primary-5);
  min-height: 235px;
}
.header-books{
    display: flex;
    gap: 2rem;
    width: 400px;
    justify-content: center;
    text-align: left;
    max-width: 1170px;
    margin: auto;
}
.secondHeader input{
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  margin: auto;
  margin-top: 2rem ;
  cursor: pointer;
}
.secondHeader input:hover{
  background-color: var(--clr-primary-1);
  color: var(--clr-white);
}
.nav-login{
  margin-left: 0.75rem;
  transform: rotate(0deg) !important;
}
.bluue a {
  color: var(--clr-white) !important;
}
.bluue a:hover {
  color: var(--clr-black) !important;
}
.app-main .main-header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.app-main .action-buttons {
  display: flex;
  align-items: center; 
}
.app-main .menu-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  Display: none;
  justify-content: center;
  align-items: center;
  background-color: #01081f;
  border: none;
  color: var(--clr-white);
  border-radius: 4px;
}
.app-main .main-header-line h1 {
  color: var(--clr-white);
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}
.app-main {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--clr-black);
    padding: 24px;
    background: radial-gradient(circle, #051340 1%, #040f32 100%);
}
.dashboard_infos{
  margin: auto;
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
}
.dashboard_infos .chart-container-wrapper {
  width: 33.3%;
}

.chart-container-wrapper {
  padding: 5px 8px;
}
.dashboard_infos .chart-container-wrapper .chart-container {
  justify-content: space-between;
}
.chart-info-wrapper {
  flex-shrink: 0;
  flex-basis: 120px;
}
.chart-info-wrapper h2 {
  color: #5e6a81;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
  text-align: left;
}
.chart-info-wrapper span {
  color: var(--clr-white);
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
.chart-svg {
  position: relative;
  max-width: 90px;
  min-width: 40px;
  flex: 1;
}
.circular-chart.pink .circle-bg {
  stroke: #6f5684;
}
.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 1.2;
}
.circular-chart.pink .circle {
  stroke: #ff7dcb;
}
.circle {
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  -webkit-animation: progress 1s ease-out forwards;
  animation: progress 1s ease-out forwards;
}
.percentage {
  fill: #fff;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: 400;
}
.chart-container {
  width: 100%;
  border-radius: 10px;
  background-color: #01081f;
  padding: 16px;
  display: flex;
  align-items: center;
}
.circular-chart.blue .circle-bg {
  stroke: #557b88;
}
.circular-chart.blue .circle {
  stroke: #00cfde;
}
.circular-chart.orange .circle-bg {
  stroke: #776547;
}
.circular-chart.orange .circle {
  stroke: #ff9f00;
}
@media screen and (max-width: 1050px){
  .app-left {
    flex-basis: 200px !important;
}
.nav-list-link{
  font-size: 14px;
}
}
@media screen and (max-width:900px) {
  .admin-container .nav-list-item:last-child {position: unset; height: unset; display: unset;}
  .app-left {
    display: flex;
    position: fixed !important;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 4rem !important;
    width: 100vw !important;
    box-shadow: 0 0 10px 5px rgb(1 8 31 / 40%);
    padding: 0 !important;
}
.app-main{
  padding-bottom: 90px;
}
.app-left .app-logo{
  display: none;
}
.app-left div:last-child{
  position: relative !important;
  width: 20% !important;
}
.nav-list .nav-list-link{
  margin: 0 !important;
  height: 4rem;
  padding: 0;
  justify-content: center;
}
.nav-list-link:after{
  width: 100%;
  height: 2px !important;
}
.nav-list-link svg{
  margin: 0;
}
.nav-list-link a{
  display: none;
}
.app-left .nav-list-item{
  margin: 0 !important;
  width: 100%;
  justify-content: center;
}
.app-left .nav-list{
  height: 100% !important;
  margin: 0;
  align-items: center;
  display: contents;}
  .menu-button{
    display: flex !important;
  }
}
@media screen and (max-width:700px) {
  .dashboard_infos {
    flex-direction: column;
  }
  .dashboard_infos .chart-container-wrapper {
    width: 100%;
  }
  .admin-frm-input {
    width: 80%;
  }
  .admin-book{
    font-size: 0.75rem im !important;
  }
}
.admin-book {
  font-size: 0.9rem;
}
.admin-book-table{
  transition: ease .3s;
  background-color: white;
  width: 100%;
  border-radius: 0.5rem;
  border-collapse: collapse;
}
.admin-book-table td,.admin-book-table th{
  padding: 1rem;
}
.admin-book-table tr{
  border-bottom: 1px solid #6f737a;
  text-align: left;
}
.admin-book-table tbody tr:last-child{border:0;}
.admin-book-table :is(td:nth-child(1) , th:nth-child(1) , td:nth-child(5) , th:nth-child(5) , td:nth-child(6) , th:nth-child(6)){
  text-align: center;
}
.admin-book-table td input[type=text]{
  width: 100%;
}
.admin-book-table :is(td:nth-child(1),td:nth-child(5)) input[type=text]{
  text-align: center;
}
.admin-book-add,.admin-team{
  text-align: center;
  padding: 1rem;
  background-color: var(--clr-white);
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
  margin-top: 0;
  border-radius: 10px;
}
.admin-frm-input {
  position:relative;
  padding:0 0 0 20px;
  background:#fff;
  margin: 10px auto;
  width: 90%;
  padding: 5px;
  padding-left: 40px;
  border-radius: 5px;
  border:1px solid grey;
}
.admin-frm-input input {
  margin:0;
  padding-right: 20px;
  width: 100%;
}
:is(.admin-book-add,.admin-team) h4{
  color: var(--baseColor);
  font-size: 1.25rem;
    margin: 1.5rem;
}
.admin-frm-cont svg{
  position: absolute;
  left: 0;
  width: 38px;
  margin-top: 1px;
  height: 21px;
  color: var(--baseColor);
}
.admin-frm-cont textarea{
  padding: 5px;
  border-radius: 5px;
  margin: 10px 5%;
  max-width: 90%;
    max-height: 80px !important;
}
.bluue{
  background-color: #00aeef;
  box-shadow: unset;
}
.admin-frm-cont{    
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 2fr));
}
.admin-book-table th {
  background: var(--baseColor);
  color: var(--clr-white);
  font-size: 1.1em;
}
.admin-book-table th:first-child{
  border-radius: 5px 0 0 0 ;
}
.admin-book-table th:last-child{
  border-radius:  0 5px 0  0 ;
}
.admin-frm-btn{margin-top: 15px;}
.admin-frm-btn input{
  width: 100px;
  padding: 0.5rem 0;
  border-radius: 5px;
  background-color:var(--baseColor);
  color: var(--clr-white);
  margin: 0 5px;
  cursor: pointer;
}
.admin-frm-btn input:hover{
  background-color: var(--loginSubmitHoverBackgroundColor);
  color: var(--clr-white);
}
.admin-frm-btn input:last-child{
    background-color: var(--clr-red-light);
}
.admin-frm-btn input:last-child:hover{
  background-color: var(--clr-red-dark);
}
.admin-book-table input[type=button]:first-child,.btn-val input:first-child{
  padding: 5px 10px; 
  border-radius: 5px;
  background-color: var(--baseColor) !important;
  color: var(--clr-white);
  margin-right: 5px;
  cursor: pointer;
}
.admin-book-table input[type=button]:first-child:hover,.btn-val input:first-child:hover{
  background-color: var(--loginSubmitHoverBackgroundColor) !important;
}
.admin-book-table input[type=button]:last-child,.btn-val input:last-child{
  padding: 5px 10px; 
  border-radius: 5px;
  background-color: var(--clr-red-light) !important;
  color: var(--clr-white);
  cursor: pointer;
}
.admin-book-table input[type=button]:last-child:hover,.btn-val input:last-child:hover{
  background-color: var(--clr-red-dark) !important;
}
.admin-book-table th:last-child,.admin-book-table td:last-child{
  min-width: 135px;
  padding: 0.5rem;
}
.admin-book-table tbody td:nth-child(5){
  color: var(--baseColor) ;
  font-weight: bold;
}
.home-loading{
  display: grid;
  place-items: center;
  min-block-size: 100vh;
  background-color: #0e111f;
}
.home-loading img{
  margin: auto;
}
@media screen and (max-width:800px) {

  .home-loading img{width: 100%;}
}
.home-interface input[type=button]{
  background-color: var(--clr-white);
  padding: 0.5rem 1.5rem !important;
  border-radius: 5px;
  margin: 0px 5px;
  cursor: pointer;
}
.home-interface input[type=button]:hover{
  background-color: var(--baseColor);
  color: var(--clr-white);
}
.chart-container input[type=button]{
  background-color: var(--baseColor);
  padding: 0.5rem 1.5rem !important;
  border-radius: 5px;
  margin: 0px 5px;
  cursor: pointer;
  color: var(--clr-white);
}
.chart-container input[type=text]{
  background-color: var(--baseColor);
  padding: 0.5rem 1rem !important;
  border-radius: 5px;
  margin: 0px 5px 0 0;
  color: var(--clr-white);
}
.chart-container input[type=text]::placeholder{color: var(--clr-white);}
.chart-container input[type=button]:hover{
  background-color: var(--loginSubmitHoverBackgroundColor);
}
.chart-container input[type=button]:last-child{
  background-color: var(--clr-red-light);
}
.chart-container input[type=button]:last-child:hover{
  background-color: var(--clr-red-dark);
}
.rotate {
  font-size: 2rem;
  margin-top: 5px;
  color: var(--baseColor);
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.header{
  overflow: hidden;
  background-color: var(--clr-primary-5);
  text-align: center;
}
.header img{
  max-width: 1170px;
  width: 100%;
  min-width: 1000px;
  padding-bottom: 8px;
}
.header .admin-frm-input{
  top: 50px;
  display: flex;
  max-width: 300px;
  width: 70%;
  border-radius: 100px;
  padding: 7px 10px 7px 15px;
  border:0;
  color: var(--clr-black);
}
.header-txt{
  top: 50px;
  color: var(--clr-white);
  position: relative;
}
.header .admin-frm-input button{
  border: 0;
  background-color: var(--clr-primary-5);
  color:var(--clr-white);
  width: 40px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white{
  color: var(--clr-white);
}
.header-img{
  display: flex;
  justify-content: center;
}
@media screen and (max-width:450px) {
  .header-books .book{
    min-width: 100% !important;
    margin: 1rem 0;
  }
  .book-img img {
    width: 100px !important;
  }
  .nav-toggle{
    display: flex;
  }
  .nav-header #aa{
    padding: 0 0.3rem;
  }
  .nav-header #aa .logo{
    height: 30px;
  }
  *{
    font-size: 0.9rem;
  }
  .nav-header{
    padding: 0.5rem;
  }
  .nav *{
    font-size:  1.3rem;
  }
  #botNav,#About,#Contact{
    height: 54px !important;
  }
  .footDev{
    display: grid !important;
    gap: 0.1rem !important;
  }
  .header .admin-frm-input button {
    width: 35px;
    height: 30px;
  }
  .footDev #devStyle{
    display: none;  
  }
  .secondHeader .book {
    min-height: unset ;
  }
  .may-know img {
    width: 75px !important;
    height: 110px !important;
  }
  .grid{
    inline-size: 65%;
  }
  .align *{
    font-size: 0.7rem !important;
  }
}
.footDev{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.external-book{
  width: 95%;
  max-width: 1170px;
  margin: 2rem auto;
  background-color: var(--clr-white);
  padding: 1rem;
  border-radius: .5rem;
}
.external-book .book img{
  height: 50vw;
  max-height: 400px;
  border-radius: .5rem;
  box-shadow : 0 0 10px var(--clr-black);
}
.external-book .book .pic{
  padding: 0 2rem 0 1.5rem;
  text-align: center;
}
.external-book .book .book-info , .external-book h2{
  text-align: left;
}
.external-book .book #Author{
  color: var(--clr-primary-5);
  margin-left: 5px;
}
.external-book .line{
  height: 2px;
  background-color: var(--clr-black);
  margin: 1.5rem .65rem;
}
.external-book .book-info .line{
  margin: 0.25rem 0.75rem 1rem 0.75rem;
  height: 1.5px;
}
.external-book .book-info{
  width: 70%;
}
.external-book .book h3{
  font-size: 1.2rem;
}
.may-know img{
  width: 37vw;
    max-width: 150px;
    max-height: 226px;
    height: 55vw;
    margin: .5rem;
  margin: .5rem .5rem 0 .5rem;
  border-radius: .25rem;
  box-shadow : 0 0 7px var(--clr-black);
}
.external-book .book{
  display: flex;
}
.external-book .price{
  display: flex;
  align-items: center;
  gap:-10px;
  font-size: .95rem;
  bottom: 0;
}
.external-book .price2{
  margin: 0.75rem;
  margin-left: -5px ;
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 2px 10px;
  font-size: 1.4rem;
  border-radius: 5px;
}
.external-book .book .pre-media{
  display: none;
}
.external-book .book .media{
  display: block;
  margin-top: -10px;
}
.home-interface{
  text-align: center;
  background-color: var(--loginInputBackgroundColor);
  padding: 1rem;
  color: var(--clr-white);
  border-radius: .5rem;
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
.home-interface .edit{
    width: 100%;
    min-height: 48%;
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
    z-index: 1;
    cursor: not-allowed;
}
.home-interface h4{
  margin: .75rem 0;
}
.home-interface textarea{
  width: 100%;
  height: 100px;
  border-radius: .5rem;
  padding: .5rem;
  font-size: .9rem;
}
.home-interface input{
  padding: .25rem .4rem;
  border-radius: .3rem;
  color: var(--clr-black);
}
.home-interface .contact-input{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
}
.home-interface .contact-input input{
  width: 100%;
}
.home-interface .contact-input >div {
  width: 45%;
  flex-grow: 1;
  flex-basis: 200px;
}
.main-content * {
  font-family: 'Whitney Medium';
}
.contact-pics{
  height: 170px;
  display: flex;
  overflow: auto;
  margin-top: 2rem;
}
.contact-pics::-webkit-scrollbar{
  height: 10px;
  background-color: var(--clr-white);
  border-radius: 5px;
}
.contact-pics::-webkit-scrollbar-thumb{
  background: var(--baseColor);
}
.contact-pics img{
  position: relative;
  left:-30px;
  height: 150px;
  border-radius: 5px;
}
.contact-pics>div{
  height: 150px;
  display: flex;
}
.contact-pics svg{
  z-index: 1;
    border-radius: 5px 0;
    position: relative;
    cursor: pointer;
    background: var(--clr-red-light);
    padding: .35rem;
    width: 30px;
    height: 25px;
}
.home-interface input[type=button]{
  margin-top:1rem ;
}
#file-input{display: none;}
.swal-icon--warning {
  border-color: var(--baseColor) !important;
}
.swal-icon--warning__body, .swal-icon--warning__dot,.swal-button,.swal-icon--success__line {
  background-color: var(--baseColor) ;
}
.swal-button--confirm:hover{
  background-color: var(--loginSubmitHoverBackgroundColor) !important;
}
.swal-button--cancel {
  background-color: #efefef !important;
}
.swal-button--cancel:hover{
  background-color: #dad4d4 !important;
}
.swal-button--danger {
  background-color: #e64942 !important;
}
.swal-button--danger:hover{
  background-color: var(--clr-red-dark) !important;
}
.swal-icon--success {
  border-color: var(--baseColor);
}
.swal-icon--success__ring {
  width: 80px;
  height: 80px;
  border: 4px solid #3d7effb0;
}
.admin-team{
  max-width: 799px;
}
.team-inputs{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 2fr));
}
.team-inputs input[value]{
  background-color: whitesmoke;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid var(--bodyBackgroundColor);
}
.chart{
  background-color: #01081f;
  padding: 1rem;
  color: white;
  max-width: 1200px;
    margin: 1rem auto;
    border-radius: 1rem;
}
.chart span{
  color: var(--baseColor);

}
.chart>div{
  display: flex;
  justify-content: space-between;
}
.chart h2{
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}
.messages{
  position: fixed;
  bottom: .5rem;
  right: .5rem;
  z-index: 11;
}
.messages button{
  transition: .3s;
  cursor: pointer;
  border-radius: 50%;
    font-size: 28px;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    background-color: var(--clr-primary-5);
    color: white;
    border: 0px;
    float: right;
}
.messages button:hover{
    background-color: white;
    color: var(--clr-primary-5);
}
.messages .chat{
  transition: .5s all, .3s opacity;
  border-radius: .5rem;
  background-color: whitesmoke;
  padding: .5rem;
  width: 90vw;
  max-width: 250px;
  margin-bottom: .5rem;
  box-shadow: 0 0 .5rem var(--app-bg-light);
}
.messages header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .25rem;
}
.messages header img{
  border-radius: 50%;
  width: 37px;
  height: 37px;
}
.messages header span{
  position: relative;
  width: 37px;
  height: 37px;
}
.messages header span label:first-of-type{
  position: absolute; 
  width: 15px;
  height: 15px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  border: 3px solid white;
}

.messages header span .tooltip{
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 200%;
  bottom: calc( 100% + 5px ); 
  left: -50%;
}

.messages header span .tooltip::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.messages header span:hover .tooltip{
  visibility: visible;
}
.messages header i {
  transition: .3s;
  cursor: pointer;
  color: var(--clr-red-light);
  font-size: 22px;
  margin-right: .25rem;
}
.messages header i:hover{
  font-size: 24px;
  color: var(--clr-red-dark);
}
.messages .room{
  border-radius: .5rem;
  padding: .5rem;
  background-color: white;
  height: 200px;
  overflow-y: scroll;
}
.messages .message {
  width: 100%;
  display: flex;
}
.messages .message label{
  position: relative;
  width: fit-content;
  background-color: var(--bodyBackgroundColor);
  color: white;
  padding: 10px; 
  border-radius: 5px;
  margin-top: 10px;
}
.messages .message p{
  position: absolute;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 7px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  right: calc(100% + 10px);
  top: 0;
}

.messages .message .tooltip::after{
  content: " ";
  position: absolute;
  top: 50%; /* At the bottom of the tooltip */
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent  transparent  transparent black;
}

.messages .message:hover .tooltip{
  visibility: visible;
}
.flex-end{
  justify-content: flex-end;
}
.messages .input{
  position: relative;
  margin-top: .5rem;
  display: flex;
  align-items: center;
}
.messages .input input{
  padding: .5rem;
  width: 100%;
  border-radius: .5rem;
}
.messages .input:last-of-type input{
  padding-right: 60px;
}
.messages .input .btns{
  position: absolute;
  right: 7px;
  font-size: 22px;
  cursor: pointer;
}
.messages .input .btns i {
  margin-left: 5px;
}